/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --accent-color: #ff0070;
  --headings_decor-color: #ff0070;
  --title-color: #000028;
  --main-text-color: #f1b2ce;
  --header-color: #db00ff;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .rec {
  display: block;
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {

  :root {
    --accent-color: #ff0070;
    --headings_decor-color: #ff0070;
    --title-color: #000028;
    --main-text-color: #f1b2ce;
    --header-color: #db00ff;
  }

}