/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --header-color: #ffc2e6;
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  display: none;
}

.page.theme_light .angle-up {
  border-top: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
}

.page.theme_light .angle-down {
  border-bottom: 1px solid var(--main-text-color);
  border-left: 1px solid var(--main-text-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--main-text-color);
}

.page.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--main-text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

.page.theme_light .header_paragraph {
  color: var(--main-text-color);
}

.page.theme_light .block_title {
  color: var(--main-text-color);
}

.page.theme_light .block_paragraph_title {
  color: var(--main-text-color);
}

.page.theme_light .block_paragraph_title-decor-text {
  color: var(--main-text-color);
}

.page.theme_light .footer_angle-up {
  border-top: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
}

.page.theme_light .footer_angle-down {
  border-bottom: 1px solid var(--main-text-color);
  border-left: 1px solid var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --header-color: #ffc2e6;
    }
}