/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --headings_decor-color: #ff0070;
  --title-color: #000028;
  --main-text-color: #f1b2ce;
  --header-color: #db00ff;
  --background-color: #000028;
}
